<h1>Show card</h1>
<%= simple_form_for @card, url: cards_path(@card) do |f| %>
  <%= render :partial => 'form' %>
<% end %>
<%= link_to 'Edit card', edit_card_path(@card) %> |
<%= link_to 'Back to the Cards List', cards_path %>
